<div class="container-fluid">
	<div class="row">
		<div class="col-10 offset-1">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12">
							<%= @post.title %>
							<i class="fas fa-calendar-check"></i>
							<i class="far fa-calendar-check"></i>
							<% if @post.favorited_by?(current_user) %>
								<%= link_to post_favorites_path(@post), method: :delete do %> 
									<i class="fas fa-heart"><%= @post.favorites.count %></i>
								<% end %> 
							<% else %>
								<%= link_to post_favorites_path(@post), method: :post do %> 
									<i class="far fa-heart"><%= @post.favorites.count %></i> 
								<% end %> 
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<% if @post.post_images.present? %>
								<% @post.post_images.each do |image|%>
									<%= attachment_image_tag image, :image, :fill, 200, 200, fallback: "no_image.jpg" %>
								<% end %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= @post.content %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= @post.tips %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= @post.course%>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<div>
								<% @post.tags.each do |tag| %>
									<%= tag.name %>
								<% end %>
							</div>
							<div>
								<p>投稿者：<%= @post.user.name %>
								<p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<p><%= @post.post_comments.count %>件のコメント</p>
							<table class="table">
								<% @post.post_comments.each do |post_comment| %>
									<tr>
										<td width="50">
											<%= attachment_image_tag(post_comment.user, :image, :fill, 40, 40, class: "rounded-circle float-left img", fallback: "no-image-mini.jpg") %>
										</td>
										<td width="30">
											<%= post_comment.user.name %>
										</td>
										<td>
											<p><%= post_comment.comment %></p>
										</td>
										<td width="127">
											<%= post_comment.created_at.strftime('%Y/%m/%d') %>
											<% if current_user == post_comment.user %>
												<%= link_to'', post_post_comments_path(@post, post_comment), method: :delete, class: "far fa-trash-alt" %>
											<% end %>
										</td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
					      <%= form_for [@post, @post_comment] do |f| %>
					        <%= f.text_area :comment, size: "90x5" %>
					        <%= f.submit '送信' %>
					      <% end %>
						</div>
					</div>
				</div>
				


				<div class="col-lg-4">
					<div class="row">
						<div class="col-lg-12">
							グーグルマップ
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							直前の閲覧履歴
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

